
body{
    padding: 20%; 
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: steelblue;
    background-image: url('../img/dark-evening-ocean-m5.jpg');
   
}